Ai youtube content generator.json
{
  "name": "Ai youtube content generator",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Lesson }}",
        "options": {
          "systemMessage": "You are an AI model designed for short educational YouTube videos.\n\nWhen the user provides a lesson, topic, or concept, generate a single plain-text paragraph suitable for voice narration.\n\nStart with a short, natural introduction that greets the viewer and briefly mentions the topic, for example by welcoming them and saying what will be explained.\n\nThen smoothly explain the topic in simple educational language.\n\nEnd the paragraph with a soft and natural call to action, encouraging viewers to subscribe to the channel and press the bell icon for more similar videos.\n\nThe entire output should naturally fit about 20 seconds of spoken audio.\n\nUse simple words and short sentences.\nDo NOT create multiple paragraphs, headings, bullet points, emojis, or repeated lines.\nDo NOT include line breaks, \\n, or escape characters.\nOutput must be only one clean plain-text paragraph.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -768,
        80
      ],
      "id": "b1c660c6-d6d6-4cf6-a683-42353df1e784",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1gXLxR6NwkL3JPubJj6zs79nP8a-3-VObITUAuBgUwos",
          "mode": "list",
          "cachedResultName": "Second Project",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gXLxR6NwkL3JPubJj6zs79nP8a-3-VObITUAuBgUwos/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1734480982,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gXLxR6NwkL3JPubJj6zs79nP8a-3-VObITUAuBgUwos/edit#gid=1734480982"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1088,
        80
      ],
      "id": "5a06bdc4-90d3-431e-bc48-be35da1e7f1a",
      "name": "New Lesson Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "HzEMeG87tj6UXOwO",
          "name": "Google Sheets Trigger account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6530793b-ee96-4178-a755-31b21276a5ec",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "3c2af1e6-7f42-4bef-af4c-8c0873113fc5",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -912,
        80
      ],
      "id": "61993809-7f10-4d43-87f8-44ef9c98a484",
      "name": "Filter New Lesson Only"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -768,
        240
      ],
      "id": "dc32c0c5-0665-4dc7-a30a-57636f412b13",
      "name": "Explain Lesson (AI)",
      "credentials": {
        "googlePalmApi": {
          "id": "08jppqYMJHjyMfiV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// List of available avatars\nconst avatars = [\n  \"Aditya_public_1\",\n  \"Aditya_public_2\",\n  \"Aditya_public_3\",\n  \"Aditya_public_4\",\n  \"Aditya_public_5\"\n];\n\n// Randomly select one avatar\nconst selectedAvatar = avatars[Math.floor(Math.random() * avatars.length)];\n\n// Merge AI Agent output with random avatar\nreturn [\n  {\n    json: {\n      ...$json,           // AI Agent ka text aur data preserve kare\n      avatar_id: selectedAvatar\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        80
      ],
      "id": "33115095-0f40-4462-8db5-a0c39b6d3d87",
      "name": "Change Avatar for Each Video"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "=Heygen Api key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"{{ $json.avatar_id }}\",\n        \"avatar_style\": \"normal\"\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"voice_id\": \"6be73833ef9a4eb0aeee399b8fe9d62b\",\n        \"input_text\": \"{{ $('AI Agent').item.json.output }}\"\n      }\n    }\n  ],\n  \"dimension\": {\n    \"width\": 1280,\n    \"height\": 720\n  },\n  \"output_format\": \"mp4\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -224,
        80
      ],
      "id": "f42467f7-8995-4426-aefe-fde4e7b0f9f9",
      "name": "Generate Video (HeyGen)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "tFXk2DGoITrLb7lC",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -48,
        80
      ],
      "id": "704da0cb-c5c6-4813-9e55-b2d14224b8c6",
      "name": "Wait for Video Generation",
      "webhookId": "481781c2-a267-42eb-b28b-d47b3faf93fb"
    },
    {
      "parameters": {
        "url": "=https://api.heygen.com/v1/video_status.get?video_id={{ $json.data.video_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer PASTE_HEYGEN_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        112,
        80
      ],
      "id": "7a31ae49-0026-49b9-adbd-6f36c1b8e2be",
      "name": "Check Video Status (HeyGen)"
    },
    {
      "parameters": {
        "url": "={{ $('Check Video Status (HeyGen)').item.json.data.video_url }}",
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 10
            }
          },
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        304,
        80
      ],
      "id": "575d679c-7906-4189-8211-7e7ca020c454",
      "name": "Get Video URL (HeyGen)"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Filter New Lesson Only').item.json.Lesson }}",
        "regionCode": "PK",
        "categoryId": "27",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        528,
        80
      ],
      "id": "b08b5c15-ab2c-4ac0-b458-d8a9aff13598",
      "name": "Upload Video to YouTube",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "JBj4vVxBPZWpoG5Y",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "62471a7c-2645-4b26-b3ab-2e0f48d9835f",
              "name": "Video link ",
              "value": "=https://www.youtube.com/watch?v={{ $json.uploadId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        80
      ],
      "id": "7d3cea19-1c4d-4b54-9ed9-f4219b22577f",
      "name": "Create video link"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        944,
        80
      ],
      "id": "246e23e5-60cf-4917-a2c8-9b41e941b94e",
      "name": "Wait for YouTube Upload",
      "webhookId": "7d70e844-fec9-4de3-b242-59e71d84ee67"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gXLxR6NwkL3JPubJj6zs79nP8a-3-VObITUAuBgUwos",
          "mode": "list",
          "cachedResultName": "Second Project",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gXLxR6NwkL3JPubJj6zs79nP8a-3-VObITUAuBgUwos/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1734480982,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gXLxR6NwkL3JPubJj6zs79nP8a-3-VObITUAuBgUwos/edit#gid=1734480982"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lesson": "={{ $('Filter New Lesson Only').item.json.Lesson }}",
            "Status": "upload",
            "link": "={{ $json['Video link '] }}"
          },
          "matchingColumns": [
            "Lesson"
          ],
          "schema": [
            {
              "id": "Lesson",
              "displayName": "Lesson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1168,
        80
      ],
      "id": "cf5152af-b379-435a-a19d-3a2e2abcfef2",
      "name": "Update Lesson Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fULWFhgKXSb0m2aD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "Generate a HeyGen video\n\nThese 4 nodes handle video creation:\n1️⃣ Send the lesson script to HeyGen\n2️⃣ Wait 5 minutes for the video to finish\n3️⃣ Check if the video is ready\n4️⃣ Get the video URL for the next step",
        "height": 368,
        "width": 736,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -272,
        -80
      ],
      "id": "86b845d2-a237-4ed7-a331-aefd3c9dddd9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Explain Avatar Process:\n\nThis node automatically changes the avatar’s outfit for each video, so the same person appears but with a different outfit every time, making each video look unique.",
        "height": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -528,
        -80
      ],
      "id": "e7f3b264-b208-4769-858b-8599b35260be",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Explain Lesson Process:\n\nThese three nodes handle the lesson input:\n1️⃣ New Lesson Trigger: Starts the workflow when a new lesson is added in Google Sheet.\n2️⃣ Filter New Lesson Only: Selects only the newly added lesson to process.\n3️⃣ Explain Lesson (AI): Converts the lesson text into a short, clear, and engaging video script using AI.",
        "height": 368,
        "width": 544,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1088,
        -80
      ],
      "id": "6a88a88c-e83f-4396-892a-e90c6469d070",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Video Upload & Status:\n\nThese four nodes handle the video upload process:\n1️⃣ Upload Video to YouTube: Uploads the generated video to the YouTube channel.\n2️⃣ Create Video Link: Generates the video link from the uploaded video.\n3️⃣ Wait for YouTube Upload: Pauses the workflow to ensure the video uploads completely.\n4️⃣ Update Lesson Status: Updates the lesson row in Google Sheet with the upload status and video link.",
        "height": 368,
        "width": 848,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        -80
      ],
      "id": "b6561ba9-9a5a-4748-a2fd-ce6f5df9243c",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Change Avatar for Each Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Lesson Trigger": {
      "main": [
        [
          {
            "node": "Filter New Lesson Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Lesson Only": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explain Lesson (AI)": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Change Avatar for Each Video": {
      "main": [
        [
          {
            "node": "Generate Video (HeyGen)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video (HeyGen)": {
      "main": [
        [
          {
            "node": "Wait for Video Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Video Generation": {
      "main": [
        [
          {
            "node": "Check Video Status (HeyGen)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Status (HeyGen)": {
      "main": [
        [
          {
            "node": "Get Video URL (HeyGen)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video URL (HeyGen)": {
      "main": [
        [
          {
            "node": "Upload Video to YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Video to YouTube": {
      "main": [
        [
          {
            "node": "Create video link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create video link": {
      "main": [
        [
          {
            "node": "Wait for YouTube Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for YouTube Upload": {
      "main": [
        [
          {
            "node": "Update Lesson Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "68fd2d9c-f0ae-43ea-936e-f3ffa6f20aca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "03eef17ca4e5a08059a2e06ebbfe6f2bdfaff4e18211ccce7c3ec37e7a3b7e50"
  },
  "id": "UTuO5CQvDhcZ8iZD",
  "tags": []
}